
.row-content {
    padding: 50px 0;
    min-height: 200px;
    margin-left: initial;
}

h1, h2{
    text-align: center;
  }

.button{
    color: aqua;
    background-color: black;
    border-color: black;
  }
  
  .formStatus {
    text-align: center;
    padding: 10px 0;
}
.error {
    color: red;
}

  footer {   
    background: rgb(52, 90, 52);
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
  
}