.row-content {
    padding: 50px 0;
    min-height: 200px;
    margin-left: initial;
}

h1, h2{
    text-align: center;
  }

.button{
    color: aqua;
    background-color: black;
    border-color: black;
  }
  
  .success input {
    border-color: #2ecc71;
    padding:2px;
    margin: 0;
  }
  
  .error input{
    border: 3px solid #e74c3c;
    padding:2px;
    margin: 0;
  }
  
  .success textarea{
    border-color: #2ecc71;
  }
  
  .error textarea{
    border: 3px solid #e74c3c;
    padding:2px;
    margin: 0;
  }
  
  small {
    visibility: hidden;
    color: #e74c3c;
    font-size: 1em;
    font-weight: bolder;
    font-style: oblique;
  }
  
  .form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .error small{
    visibility: visible;
  }

  footer {   
    background: rgb(52, 90, 52);
    text-align: center;
    width: 100%;
  margin-bottom:initial
}