body{
      padding: 0;
      margin: 0;
      background-color: teal;
}

.fa{
      margin: 0px 10px;
}

a:hover{
          color:yellow !important;
}

h1,h2{
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        color: white;
}

h3{
    font-family: cursive;
    text-align: center;
}

h4{
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.btn{
	border:1px  solid rgb(10, 10, 10);
	background:rgb(10, 10, 10);
  color:mediumpurple;
  
}

.container-fluid{
  position: relative;
}

.header{
  background-image: url('/images/backround.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
 }


footer {
  background: rgb(52, 90, 52);
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
}


.navbar{
background-color:black;
}
button.navbar-toggler.navbar-toggler{
  border-color: mediumpurple;
}

.nav-link{
color: mediumpurple !important
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
  margin-left: initial;
}

.button{
  color: aqua;
  background-color: black;
  border-color: black;
}

.formStatus {
  text-align: center;
  padding: 10px 0;
}
.error {
  color: red;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

