body,html{
      padding: 0;
      margin: 0;
      background: #4f575e
}

input{
  outline: none;
}

.fa{
  font-size: 20px;
  text-align: center;
  transition: 0.6s;
}

.circle-icon {
  background: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  vertical-align: middle;
  padding: 18px;
}
.fade-in{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


a:hover{
        color:yellow !important;
}
.btn:hover{
  color:yellow !important;

}

h1,h2{
        text-align: center;
        padding-bottom: 50px;
        padding-top: 50px;
        color: white;
}

img {
  width: 100%;
  height: auto;
}

.btn{
	border:1px  solid rgb(10, 10, 10);
	background:rgb(10, 10, 10);
  color:mediumpurple;
}

.container-fluid{
  position: relative;
}

.header{
  background-image: url('/images/backround.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
 }


footer {
  background: rgba(0, 0, 0, 0.596);
  text-align: center;
  width: 100vw;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}


button.navbar-toggler.navbar-toggler{
  border-color: mediumpurple;
}

.nav-link{
color: mediumpurple !important
}

.row-content {
  padding: 25px 0;
  min-height: 100px;
  margin-left: initial;
}

.button{
  color: mediumpurple;
  background-color: black;
  border-color: black;
}

.formStatus {
  text-align: center;
  padding: 10px 0;
}
.error {
  color: #ed3c0d;
}

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3b434a;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
}

.container{
scroll-behavior: smooth;
}

section{
  padding: 40px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(39, 10, 63, 0.993);
  padding: 5px;
  text-align: center;
  background-color: white;
}

.card-footer{
  background-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(164, 52, 230, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.img-fluid {
  height: 100%;
}

.form-control{
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-control:focus {
  border: 2px solid red;
  outline: none !important
}



p, label, li{
  color: #82909c;
}
